/* body {
  background-color: #F7F9FC;
  font-family: "Nerko One", cursive;
  color: #758694;
  font-size: 20px;
  line-height: 20px;
}

h1, h2 {
  color: #405D72;
  font-family: "Nerko One", cursive;
  font-size: 25px;
  line-height: 30px;
}

img {
  width: 150px;
  height: 150px;
}

a{
  color: #405D72;
  text-decoration: none;
}

a:hover {
 text-decoration: underline;
 color: #758694;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.card-white {
  background: white;
  padding: 30px;
  border: 1px solid #758694;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin: 20px;
  }

#img-circle{
  border-radius: 50%;
}
.text-center{
  text-align: center;
}

.list-inline > li{
  display: inline-block;
  padding: 0px 20px;
}

.list-inline{
  padding-left: 0px;
  list-style: none;
} */

.container {
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.card {
  border-radius: 6px;
  border: 1px solid rgba(25, 4, 69, 0.12);
  box-shadow: rgba(25, 4, 69, 0.05) 0px 3px 7px -1px;
  background-color: white
}
.card-profile {
  height: 200px;
  background-image: linear-gradient(145deg, rgb(64, 242, 236), rgb(173, 210, 237), rgb(255, 178, 255));
  width: 100%;
  position: relative;
}

.card img {
  right: -20px;
  top: 110px;
  width: 150px;
  border-radius: 50%;
  position: relative;
}

.card-content {
  margin-left: 18px;
  margin-top: 80px;
  color: rgba(25, 4, 69, 0.7);
  margin-bottom: 20px;
}

.card-content h3 {
  margin-bottom: 5px;
}

.card-content h4 {
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: 300;
}

.card-content p {
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: 200;
}

.contact-info {
  color: rgb(0, 112, 251);
}

.profile-links {
  padding: 6px;
}

.profile-links a {
  font-size: 25px;
  color: rgba(25, 4, 69, 0.7);
}

.profile-description {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
  color: rgba(25, 4, 69, 0.7);
  font-weight: 200;
}

.profile-description-left{
  width: 500px;
}
.profile-description h3{
  margin-left: 10px;
  border-bottom: 1px solid rgba(25, 4, 69, 0.1);
  font-weight: 400;
}

.profile-description-left li{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.profile-description-right{
  width: 600px;
}

.profile-description-right p{
  margin-left: 10px;
}

.footer {
  margin-top: 10px;
  text-align: center;
  background-color:  rgba(25, 3, 65, 0.1);
}

.footer a {
  font-size: 35px;
  color: rgba(25, 4, 69, 0.7);
}

.footer p {
  color: #6B6C6C;
}

.links {
  padding: 20px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
